html {
    margin: 0px;
}

body {
    background: url('/public/images/bigBoxNotification/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}

.bigBoxBackground{
    position: fixed;
	top: 0px;
	left:0px;

	width: 100%;
	height: 100%;

	background-color: black;
	opacity: 0.4;

	z-index: 99998;
}

.bigBoxModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: white;
    height: 600px;
    width: 800px;

    /* z-index: 9999999; */
    z-index: -9999999; 
    /* hide */
    display: none;

}

@media (max-width: 900px) {
    .bigBoxModal {
      height: 600px;
      width: 600px;
    }
  } 


.closeModal{
    float: right;
	width: 45px;
	height: 45px;

	cursor: pointer;
	color: white;

	font-size: 20px;

	text-align: center;
	padding-top: 8px;

	background-color: #4d4e52;
}

.bigBoxIcon{
	
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 24px;
    border: 2px solid red;

	color: #4d4e52;

	border: 5px solid white;
	border-radius: 100%;
	
	padding-top: 10%;
	font-size: 48px;

}

.modalContent {

	margin-top: 15%;

}

.modalContent span{

	display: block;

}

.modalTitle{
	font-size: 38px;
}

.modalText{
	font-size: 18px;
	color: #858585;
}


.modalButton {
    width: 200px;
	background-color: #25ae90;
	border: none;
	color: white;
	font-weight: bold;
	font-size: 16px;

	border-radius: 30px;

	margin-top: 20%;
	margin-bottom: 10%;
	padding: 15px 10px 15px 10px;
}


.closeModal:focus{
	outline:0;
}

.closeModal:hover{
	background-color: red;
}
