/* body {
    height: 800px;
} */
.chatNotificationContainer {
    display: flex;
    position: fixed;

    top: 0;
    right: -200px;

    flex-direction: column;
}

.chatNotification {
    
    /* left: 50%; */
    /* top: 40%; */
    /* transform: translate(-50%, -50%); */

    display: flex;
    justify-content: flex-start;
    height: 120px;
    background-color: #C39BD3;
}

.chatNotificationPhoto img {
    height: 120px;
}

.chatNotificationTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    top: 0;
    left: 120px;
    height: 100%;
    width: 50%;
    color: white;
}

.chatNotificationContainerTitle {
    font-size: 20px;
    font-weight: bold;
}

.chatNotificationContainerSubtitle {
    display: inline-block;
    font-size: 18px;
}

.chatNotificationIcon{
    align-self: center;
    margin-right: 40px;
    font-size: 20px;
}